
ArucoMarkerGenerierung/Makefile.Release
ArucoMarkerGenerierung/Makefile
ArucoMarkerGenerierung/Makefile.Debug
ArucoMarkerGenerierung/ArucoMarkerGenerierung.pro.user
*.Release
*.Debug
ArucoMarkerErkennung/Makefile
*.user
*.stash
11_Orga/~$01_AufgabenlisteGewerk5.xlsx
